body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.contact-wrapper {
  max-width: 700px;
  margin: 100px auto;
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.item-info {
  margin-bottom: 20px;
  padding: 12px;
  background: #f0f0f0;
  border-radius: 6px;
  text-align: center;
}

.item-info h2 {
  margin: 0;
  font-size: 1.2rem;
}

.item-info p {
  margin: 4px 0;
  font-size: 0.95rem;
  color: #020202;
}

.quick-messages {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.quick-messages button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  background-color: #eee;
  border: 1px solid #aaa;
  cursor: pointer;
  transition: background-color 0.2s;
}

.quick-messages button:hover {
  background-color: #ddd;
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #010101;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 16px;
  height: 150px;
}


.contact-btn {
  background-color: #ffcc00;
  color: black;
  padding: 10px 24px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #e6c200;
}

.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4b2142;
  color: white;
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
}